body {
    margin:0;
}
#menu{
    background-color:yellow;
    margin:0;
    text-align:center;
}
h1{
    margin:0;
    font-family:'Courier New', Courier, monospace;
    font-size:50px;
}
.cdList{
    width:70%;
    margin: 0 auto;
}

